:root {
  --pink: #FF1F5F;
  --main-bg-color: #fff;
  --button-color: #0DBF73;
  --brand-text-dark: #1A1A3B;
  --button-color-selected: #37996F;
  --blue-dark: #0a0d36;
}


html {
  background-color: var(--main-bg-color);
  font-family: "Brown","Helvetica",sans-serif;
  text-decoration: none;
}

body {
  background-color: var(--main-bg-color);
  font-family: "Brown","Helvetica",sans-serif;
  text-decoration: none;
}

.defaultButton{
  background-color: var(--button-color);
  color: #ffffff;
  border: none;
  font-size: 1.2rem;
  border-radius: 4px;
  font-family: Akkurat, Helvetica, sans-serif;
}
.defaultButton:focus{
  background-color: var(--button-color);
  color: #ffffff;
  border: 1px solid var(--button-color);
  font-size: 1.2rem;
  border-radius: 4px;
  outline: none;
  font-family: Akkurat, Helvetica, sans-serif;
}
.defaultButton:hover{
  background-color: var(--button-color-selected);
}

.wrapper {
  position: relative;
  padding-top: calc(100 / 100 * 25%);
}
.wrapper img {
  position: absolute;
  left: 37%;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 990px) {
  .wrapper {
  position: relative;
  padding-top: calc(100 / 100 * 35%);
}
}

@media screen and (max-width: 767px) {
  .wrapper {
  position: relative;
  padding-top: calc(100 / 100 * 45%);
}
.wrapper img {
  position: absolute;
  top: 0;
  left: 33%;
  max-width: 100%;
  width:100%;
  height: auto;
}
}

